services:
  db:
    image: postgres:15
    container_name: postgres
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    ports:
      - "1000:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: dockerfile.dev
    container_name: api
    restart: always
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "3333:3333"
      - "5555:5555"
    depends_on:
      - db
    # AQUI ESTÁ A MÁGICA: Forçamos o shell e damos permissão na hora
    command: sh -c "chmod +x wait-for.sh && ./wait-for.sh db:5432 -- sh -c 'npx prisma migrate dev && ts-node-dev --poll --transpile-only src/server.ts'"

volumes:
  postgres_data: