services:
  db:
    image: postgres:15
    container_name: postgres
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    ports:
      - "1000:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: dockerfile.dev # Correto, usando seu arquivo de dev
    container_name: api
    restart: always
    env_file:
      - .env
    volumes:
      - ./src:/app/src
      - ./prisma:/app/prisma
      - ./package.json:/app/package.json
      - ./package-lock.json:/app/package-lock.json
      - ./tsconfig.json:/app/tsconfig.json
      - ./jest.config.ts:/app/jest.config.ts
      - ./jest.setup.ts:/app/jest.setup.ts
    ports:
      - "3333:3333"
      - "5555:5555"
    depends_on:
      - db

volumes:
  postgres_data: